<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создать Проект - Celestial Forge</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    
    <main class="main-content">
        <h1>Создать Новый Проект</h1>
        <form action="#" th:action="@{/project/create}" th:object="${project}" method="post" class="form">
            <div>
                <label for="title">Заголовок:</label>
                <input type="text" th:field="*{title}" id="title" required>
            </div>
            <div>
                <label for="description">Описание:</label>
                <textarea th:field="*{description}" id="description" required></textarea>
            </div>
            <div>
                <label for="targetAmount">Целевая сумма:</label>
                <input type="number" th:field="*{targetAmount}" id="targetAmount" step="0.01" required>
            </div>
            <div>
                <label for="endTime">Дата окончания:</label>
                <input type="datetime-local" th:field="*{endTime}" id="endTime" required>
            </div>
            <button type="submit" class="btn btn-primary">Создать</button>
        </form>
    </main>
    
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
